@model WebApplication1.ViewModels.LampoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OkLampo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LampoKirjattu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LampoKirjattu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TavoiteLampo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TavoiteLampo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NykyLampo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NykyLampo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLampo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
