@model IEnumerable<WebApplication1.Models.OkLampo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LampoKirjattu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TavoiteLampo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NykyLampo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LampoKirjattu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TavoiteLampo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NykyLampo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLampo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLampo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLampo })
        </td>
    </tr>
}

</table>
